/*
** Body
*/

body
{background-color: #F3EEE5;}

/*
** Chart
*/

/* Card */
.card
{
      position: relative;
      left: 30%;
      top: 100px;
}

/* Header */
.header
{
      background-color: #EB745C;
      width: 35%;
      height: 100px;
      border-radius: 20px;
      color: rgba(255, 255, 255, 0.94);
}

.header p
{
     margin: 0;
     margin-bottom: 5% !important;
     position: relative;
     top: 25%;
     left: 5%;
}

.header h1
{
      position: relative;
      left: 5%;
}

.circle1
{
      
      background-color: #432F23;
      position: relative;
      border-radius: 100%;
      width: 4%;
      height: 50px;
      left: 58%;
      top: 261px;
      z-index: 1;
}

.circle2
{
      
     
      border: 1px solid wheat;
      position: relative;
      border-radius: 100%;
      width: 3.7%;
      height: 50px;
      left: 56.5%;
      top: 195px;
      z-index: 1;
}

/* Middle */
.bodyChart
{
      background-color: white;
      text-align: center;
      width: 35%;
      border-radius: 3%; 
}

.bodyChart h2
{
      color: #432F23;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: left;
      margin-left: 20px;
      position: relative;
      top: 20px;
}

.line
{
      width: 90%;
      border: 1px solid #F3EEE5;
      position: relative;
      right: -20px;
}

/* Bottom */
.bottom
{
      display: grid;
      grid-template-columns: auto auto;
      
}

.totalWeek p
{
      color: #bbbbbb;
      position: relative;
      left: -55px;
}

.totalWeek h1
{
      position: relative;
      top: -22px;
      left: -50px;
      font-family: 'Times New Roman', Times, serif; 
}

.diffWeek p
{
      margin: 0;
      position: relative;
      top: 35px;
      text-align: right;
      margin-right: 10%;
}

#sum
{
      color:#432F23;
}

.reference
{
      color: #bbbbbb;
}

/*
** Signature
*/
.attribution 
{
      font-size: 11px; 
      
      position: relative;

}
.attribution a 
{
      color: hsl(228, 45%, 44%); 
}
