/*
** Body
*/

body
{background-color: #F3EEE5;}

/*
** Header
*/
.header
{
      background-color: #EB745C;
      width: 33%;
      height: 100px;
      border-radius: 5%;
}



/*
** Signature
*/
.attribution 
{
      font-size: 11px; 
      text-align: center; 
}
.attribution a 
{
      color: hsl(228, 45%, 44%); 
}
